openapi: 3.0.1
info:
  title: This API is for uploading data to the orchestrator or to start new detections.
  description: This API is the orchestrator interface for datasets and run results.
  version: "1.0"
servers:
  - url: 'https://feed-uvl.ifi.uni-heidelberg.de'
paths:
  /hitec/orchestration/concepts/store/dataset/:
    post:
      summary: Upload a dataset.
      description: 'Accept a file with a dataset. Supported file types: csv, txt, xlsx.'
      operationId: postNewDataset
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        required: true
      responses:
        200:
          description: Dataset successfully uploaded.
          content: {}
        400:
          description: Invalid file type.
          content: {}
        500:
          description: Error with file processing.
  /hitec/orchestration/concepts/store/groundtruth/:
    post:
      summary: Upload groundtruth data.
      description: 'Accept a file with groundtruth data. Supported file types: csv, txt, xlsx.'
      operationId: postAddGroundTruth
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        required: true
      responses:
        200:
          description: Groundtruth successfully uploaded.
          content: {}
        400:
          description: Invalid file type.
          content: {}
        500:
          description: Error with file processing.
  /hitec/orchestration/concepts/detection/:
    post:
      summary: Start a new detection
      description: Start a new detection, store results in database when finished.
      operationId: postStartNewDetection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                dataset:
                  type: string
                name:
                  type: string
                params:
                  type: object
        required: true
      responses:
        200:
          description: Detection successfully started.
          content: {}
        400:
          description: Bad input parameter.
          content: {}
        500:
          description: Error with database.
          content: {}